.vs
bin/
obj/
temp/
*.suo
*.user
*.exe
.vshost.exe
*.vshost.*
*.publishsettings
packages/
node_modules/
bower_components/
vendor/
/.vs/InventorySystemAPI/DesignTimeBuild
/.vs/InventorySystemAPI/FileContentIndex
/.vs/InventorySystemAPI/DesignTimeBuild
/.vs/InventorySystemAPI/v17
/Persistence/bin
/Persistence/obj
/Presentation/bin
/Presentation/obj
/Tests/bin
/Tests/obj
/Core/Domain/bin
/Core/Application/obj
/Core/Application/bin
/.vs/InventorySystemAPI/v17/.suo
/Persistence/obj/Debug/net8.0/Persistence.AssemblyInfo.cs
/Persistence/obj/Debug/net8.0/Persistence.AssemblyInfoInputs.cache
/.vs/ProjectEvaluation/inventorysystemapi.metadata.v8.bin
/.vs/ProjectEvaluation/inventorysystemapi.projects.v8.bin
/.vs/ProjectEvaluation/inventorysystemapi.strings.v8.bin
